<textarea #textareaRef [(ngModel)]="text" (keydown.control.enter)="pull()" placeholder="Dán đoạn đây, và thử ctrl+Enter" spellcheck="false" (selectionchange)="dich()"></textarea>
<aside [hidden]="hideAside" #aside>
  <div class="tu" *ngFor="let result of results">
    <div class="title">
      {{ result.tu }}
    </div>
    <div class="definition" *ngFor="let x of result.definitions">
      {{ x }}
    </div>
    <div class="example" *ngFor="let x of result.examples">
      <div class="example-title">Ví dụ</div>
      {{ x }}
    </div>
    <div class="eng" *ngFor="let x of result.eng">
      {{ x }}
    </div>
  </div>
  <div class="tu" *ngIf="translation">
    <div class="translation">
      <div class="translation-title">Dịch</div>
      {{ translation }}
    </div>
  </div>
  <div class="close-aside" title="Close" (click)="hideAside = true">
    ❌
  </div>
</aside>
<div class="show-aside" *ngIf="hideAside" title="Show" (click)="hideAside = false" [class.has-desc]="results.length">
  🔍
</div>
